*.dwarf
/.shards/
/backstop_data/bitmaps_test/
/backstop_data/html_report/
/bin/
/doc/
/junit/
/lib/
/node_modules
/public/css
/public/js
/public/mix-manifest.json
/tmp/
server
sitemap.xml.gz
yarn-error.log
