@import "normalize.css";

/* Uncomment these when you add files to variables, mixins or components */

/* @import "variables/**.pcss"; */
/* @import "mixins/**.pcss"; */
/* For example, add `static/css/components/btn.pcss` and uncomment the next line */
/* @import "components/**.pcss"; */

:root {
    --accentColor: #24b47e;
    --defaultBorderRadius: 4px;
    --gridWidth: 980px;
    --highlightColor: #6772e5;
    --textColor: #6b7c93;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.5em;
    color: var(--textColor);
}

a:link, a:visited {
    color: var(--highlightColor);
}

a:hover {
    color: #32325d;
}

.blog-title-small {
    background: rgba(36,180,126,.4);
    padding: 10px;
}

.blog-title-small section {
    lost-utility: clearfix;
    lost-center: var(--gridWidth);
}

.blog-title-small section > div {
    lost-column: 1/2;
}

.tag-line {
    lost-utility: clearfix;
    lost-center: var(--gridWidth);
    background: white;
    border-radius: var(--defaultBorderRadius);
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.tag-line h1 {
    color: var(--highlightColor);
    text-align: center;
}

.blog-title-small .tag-line {
    font-size: 0.3em;
    box-shadow: none;
    background: transparent;
}

.blog-title-small .tag-line h1 {
    color: rgba(0,0,0,.2);
    text-align: right;
    margin: 0.5em;
}

.posts-container, .posts-archive {
    lost-utility: clearfix;
    lost-center: var(--gridWidth);
    padding: 0px 1em;
}

.posts-container article {
    margin-bottom: 80px;

    blockquote {
        border-left: 4px solid var(--accentColor);
        font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        margin: 0;
        padding-left: 1em;

        &:before {
            content: "\201C";
        }

        &:after {
            content: "\201D";
        }
    }

    > p > img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}

.posts-archive ul {
    list-style-type: none;
    padding: 0;
}

.posts-archive li span {
    min-width: 120px;
    display: inline-block;
}

.post-title h2 {
    margin-bottom: 0.1em;
    color: #32325d;
}

.post-title a:link {
    opacity: .1;
    text-decoration: none;
    padding-left: 10px;
}

.post-title:hover a:link {
    opacity: 1;
}

.post-title-meta {
    color: lighten(var(--textColor), 0.4);
    font-size: 0.8em;
}

.intro {
    padding: 0 1em;

    ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }
}

.intro li a:link {
    background: rgba(0,0,0,.2);
    border-radius: 20px;
    color: transparent;
    display: inline-block;
    font-size: 0;
    margin: 5px;
    padding: 6px 14px;
    text-decoration: none;
}

.intro li a:hover {
    background: rgba(0,0,0,.4);
}

.intro li a:visited {
    color: white;
}

.intro li img {
    color: white;
    height: 15px;
    opacity: .2;
}

.blog-title:after {
    opacity: .4;
    background: #ddd;
    content: '';
    height: 2000px;
    left: 0;
    position: absolute;
    right: 0;
    top: -1800px;
    transform: skew(0,-12deg);
    z-index: -1;
}

.blog-title:before {
    opacity: .4;
    background: #24b47e;
    content: '';
    height: 2000px;
    left: 0;
    position: absolute;
    right: 0;
    top: -1800px;
    transform: skew(0,6deg);
    z-index: -1;
}

.blog-footer {
    background: #f6f9fc;
    border-top: 2px solid rgba(207,215,223,.25);
    font-size: .8em;
    margin-top: 100px;
    padding: 0 1em 20px 1em;
}

.blog-footer a:hover {
    color: #32325d;
}

.blog-footer ul {
    list-style-type: none;
    lost-utility: clearfix;
    margin: 0;
    padding: 0;
}

.blog-footer li {
    float: left;
    margin: 0 10px 0 0;
}

.blog-footer a img {
    height: 15px;
    opacity: 0.6;
    width: 15px;
}

.blog-footer section {
    lost-utility: clearfix;
    lost-center: var(--gridWidth);
}

.blog-footer div {
    lost-column: 1/2;
}

.post-editor {
    lost-utility: clearfix;
    lost-center: var(--gridWidth);
}

.post-editor .form-row {
    margin-bottom: 20px;
}

.post-editor input[type=text], .posts-archive input[type=text] {
    color: var(--textColor);
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: var(--defaultBorderRadius);
}

.post-editor input[type=text] {
    width: calc(100% - 30px - 2px);
}

.post-editor input[type=submit] {
    background: #fff;
    border-radius: var(--defaultBorderRadius);
    border: 1px solid var(--highlightColor);
    color: var(--highlightColor);
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    vertical-align: middle;
}

.post-editor .error {
    color: red;
}

.post-editor .error:before {
    content: "💥"
}

.posts-archive input[type=text] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.posts-archive button[type=submit] {
    background: white;
    border-bottom-right-radius: var(--defaultBorderRadius);
    border-color: var(--highlightColor);
    border-top-right-radius: var(--defaultBorderRadius);
    color: var(--highlightColor);
    margin-left: -1px;
    margin-right: 10px;
    padding: 10px 15px;
}

.posts-archive button[type=submit]:hover, .post-editor input[type=submit]:hover {
    color: white;
    background: var(--highlightColor);
}

.flash-success {
    background-color: #d4edda;
    border-top: var(--defaultBorderRadius) solid shade(#c3e6cb, 40%);
    border-radius: var(--defaultBorderRadius);
    color: #155724;
    width: 950px;
    margin: 10px auto;
    padding: 10px 15px;
    text-align: center;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .intro li a:link {
        color: white;
        font-size: 0.8em;
    }

    .intro li img {
        margin-right: 10px;
    }

    .posts-container {
        padding-top: 50px;
    }
}

@media (min-width: 992px) {
    .intro li a:link {
        color: white;
        font-size: 0.8em;
    }

    .intro li img {
        margin-right: 10px;
    }

    .posts-container {
        padding-top: 100px;
    }
}
