@import "normalize.css";

/* Uncomment these when you add files to variables, mixins or components */

/* @import "variables/**.pcss"; */
/* @import "mixins/**.pcss"; */
/* For example, add `static/css/components/btn.pcss` and uncomment the next line */
/* @import "components/**.pcss"; */

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.5em;
    color: #6b7c93;
}

.blog-title {
    height: 300px;
}

.blog-title-small {
    background: rgba(36,180,126,.4);
    padding: 10px;
}

.blog-title-small section {
    lost-utility: clearfix;
    lost-center: 980px;
}

.blog-title-small a:link, .blog-title-small a:visited {
    padding: 5px 10px;
    border-radius: 4px;
    color: #6772e5;
    background: white;
    text-decoration: none;
}

.blog-title-small section > div {
    lost-column: 1/2;
}

.tag-line {
    lost-utility: clearfix;
    lost-center: 980px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.tag-line h1 {
    color: #6772e5;
    text-align: center;
}

.blog-title-small .tag-line {
    font-size: 0.3em;
    box-shadow: none;
    background: transparent;
}

.blog-title-small .tag-line h1 {
    color: rgba(0,0,0,.2);
    text-align: right;
    margin: 0.5em;
}

.posts-container {
    lost-utility: clearfix;
    lost-center: 980px;
}

.posts-container article {
    margin-bottom: 80px;
}

.posts-container article a:link {
    color: #6772e5;
}

.posts-container article a:visited {
    color: #6772e5;
}

.posts-container article a:hover {
    color: #32325d;
}

.post-title h2 {
    margin-bottom: 0.1em;
    color: #32325d;
}

.post-title a:link {
    opacity: .1;
    text-decoration: none;
    padding-left: 10px;
}

.post-title:hover a:link {
    opacity: 1;
}

.post-title-meta {
    color: #6b7c93;
    font-size: 0.8em;
    opacity: .6;
}

.intro ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.intro li a:link {
    color: white;
    background: rgba(0,0,0,.2);
    display: inline-block;
    margin: 5px;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.8em;
}

.intro li a:hover {
    background: rgba(0,0,0,.4);
}

.intro li a:visited {
    color: white;
}


.blog-title:after {
    opacity: .4;
    background: #ddd;
    content: '';
    height: 2000px;
    left: 0;
    position: absolute;
    right: 0;
    top: -1800px;
    transform: skew(0,-12deg);
    z-index: -1;
}

.blog-title:before {
    opacity: .4;
    background: #24b47e;
    content: '';
    height: 2000px;
    left: 0;
    position: absolute;
    right: 0;
    top: -1800px;
    transform: skew(0,6deg);
    z-index: -1;
}

.blog-footer {
    background: #f6f9fc;
    border-top: 2px solid rgba(207,215,223,.25);
    font-size: .8em;
    margin-top: 100px;
    padding-bottom: 20px;
}

.blog-footer section {
    lost-utility: clearfix;
    lost-center: 980px;
}

.blog-footer div {
    lost-column: 1/2;
}

.post-editor {
    lost-utility: clearfix;
    lost-center: 980px;
}
