@import "~normalize-scss/sass/normalize/import-now";

$mediumBreakpoint: 768px;
$largeBreakpoint: 992px;

$accentColor: #24b47e;
$defaultBorderRadius: 4px;
$gridWidth: 980px;
$highlightColor: #6772e5;
$textColor: darken(#6b7c93, 0.1);
$contrastAccentColor: #24b47e;
$headingTextColor: #32325d;

@mixin grid() {
    margin: 0 auto;
    max-width: $gridWidth;
}

@mixin clearfix() {
    &::before,
    &::after {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.5em;
    color: $textColor;
}

h2,
h3,
h4,
h5,
h6 {
    color: $headingTextColor;
}

p strong {
    font-weight: bold;
}

a:link,
a:visited {
    color: $highlightColor;
}

a:hover {
    color: darken($highlightColor, 0.5);
}

.blog-title-small {
    background: rgba(36, 180, 126, 0.4);
    padding: 10px;
}

.tag-line {
    @include clearfix;
    @include grid;

    background: white;
    border-radius: $defaultBorderRadius;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.tag-line h1 {
    color: $highlightColor;
    text-align: center;
}

.blog-title-small .tag-line {
    font-size: 0.3em;
    box-shadow: none;
    background: transparent;

    h1 {
        color: rgba(0, 0, 0, 0.2);
        text-align: right;
        margin: 0.5em;
    }
}

.posts-container,
.posts-archive {
    @include grid;
    @include clearfix;

    padding: 0 1em;
}

.intro li img {
    color: white;
    height: 15px;
    opacity: 0.2;
}

.blog-footer a img {
    height: 15px;
    opacity: 0.6;
    width: 15px;
}

.posts-container article {
    margin-bottom: 80px;

    blockquote {
        border-left: 4px solid $accentColor;
        font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        margin: 0;
        padding-left: 1em;

        &::before {
            content: "\201C";
        }

        &::after {
            content: "\201D";
        }
    }

    > p > img,
    > svg {
        display: block;
        margin: 0 auto;
        max-height: 500px;
        max-width: 100%;
    }

    .image-container-two {
        text-align: center;

        img,
        svg {
            max-width: 50%;
            display: inline;
            max-height: 500px;
        }
    }
}

.posts-archive ul {
    list-style-type: none;
    padding: 0;
}

.post-title a:link {
    opacity: 0.1;
    text-decoration: none;
    padding-left: 10px;
}

.blog-footer a:hover {
    color: #32325d;
}

.intro li a:link {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: transparent;
    display: inline-block;
    font-size: 0;
    margin: 5px;
    padding: 6px 14px;
    text-decoration: none;
}

.intro li a:hover {
    background: rgba(0, 0, 0, 0.4);
}

.intro li a:visited {
    color: white;
}

.post-title h2 {
    margin-bottom: 0.1em;
}

.post-title a::before {
    content: '#';
}

.post-title:hover a:link {
    opacity: 1;
}

.post-title-meta {
    color: rgb(166, 176, 191);
    font-size: 0.8em;
}

.intro {
    padding: 0 1em;

    ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }
}

.blog-title::before {
    opacity: 0.4;
    background: $contrastAccentColor;
    content: '';
    height: 2000px;
    left: 0;
    position: absolute;
    right: 0;
    top: -1800px;
    transform: skew(0, 6deg);
    z-index: -1;
}

.blog-title::after {
    opacity: 0.4;
    background: #ddd;
    content: '';
    height: 2000px;
    left: 0;
    position: absolute;
    right: 0;
    top: -1800px;
    transform: skew(0, -12deg);
    z-index: -1;
}

.blog-footer {
    background: #f6f9fc;
    border-top: 2px solid rgba(207, 215, 223, 0.25);
    font-size: 0.8em;
    margin-top: 100px;
    padding: 0 1em 20px 1em;

    address {
        font-style: normal;
        margin-bottom: 1em;
    }

    > section {
        @include grid;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
}

.blog-footer ul {
    @include clearfix;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blog-footer li {
    float: left;
    margin: 0 10px 0 0;
}

.post-editor {
    @include grid;

    .form-row {
        margin-bottom: 20px;
    }

    input[type=text] {
        width: calc(100% - 30px - 2px);
    }

    input[type=submit] {
        background: #fff;
        border-radius: $defaultBorderRadius;
        border: 1px solid $highlightColor;
        color: $highlightColor;
        font-size: 1em;
        line-height: 1.5;
        margin: 0;
        vertical-align: middle;
    }

    .error {
        color: red;
    }

    .error::before {
        content: "💥";
    }
}

.post-editor input[type=text],
.posts-archive input[type=text] {
    color: $textColor;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: $defaultBorderRadius;
}

.posts-archive input[type=text] {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1em;
}

.posts-archive button[type=submit] {
    background: white;
    border-radius: $defaultBorderRadius;
    border-color: $highlightColor;
    color: $highlightColor;
    margin-left: -1px;
    margin-right: 10px;
    padding: 10px 15px;
}

.posts-archive button[type=submit]:hover,
.post-editor input[type=submit]:hover {
    color: white;
    background: $highlightColor;
}

.flash-success {
    background-color: #d4edda;
    border-top: $defaultBorderRadius solid shade(#c3e6cb, 40%);
    border-radius: $defaultBorderRadius;
    color: #155724;
    width: 950px;
    margin: 10px auto;
    padding: 10px 15px;
    text-align: center;
}

@media (min-width: $mediumBreakpoint) {
    .intro li a:link {
        color: white;
        font-size: 0.8em;
    }

    .intro li img {
        margin-right: 10px;
    }

    .posts-container {
        padding-top: 50px;
    }

    .posts-archive input[type=text] {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 75%;
    }

    .posts-archive button[type=submit] {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

@media (min-width: $largeBreakpoint) {
    .posts-container {
        padding-top: 100px;
    }
}
